[submodule "mesh_pipeline/third_party/lamar-benchmark"]
	path = mesh_pipeline/third_party/lamar-benchmark
	url = https://github.com/rzninvo/lamar-benchmark.git
[submodule "mesh_pipeline/third_party/OpenYOLO3D"]
	path = mesh_pipeline/third_party/OpenYOLO3D
	url = https://github.com/rzninvo/OpenYOLO3D.git
